.ql-container.ql-snow{
  height: 500px;
}

.ant-btn-primary{
  float: right;
}

.ql-editor p{
  margin: 1em 0!important;
}
.ant-space-item{
  flex: 0 0 400px;
}

.ant-tooltip{
  z-index: 9999;
}

.ant-dropdown,
.ant-modal-mask{
  z-index: 9999!important;
}

.ant-modal-wrap{
  z-index: 99999!important;
}

.ant-space-item{
  flex: none;
}